<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _2019TourneyRoster</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav id="navs" class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">AcmeWeb</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Signup", "Player")">Sign Up</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="@Url.Action("TeamRoster", "Roster")">Team Rosters</a>
                </li>

            </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main">
            <div class="row">
                <div id="tourneyBannerDiv">
                    <img src="img/table-tennis-4291378_1920.jpg" class="img-fluid" alt="Tournament Banner" />
                    <p id="tourneyBannerText">Table Tennis Tourney</p>
                </div>
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            &copy; 2019 ACME Corporation
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
